In [3]:
#creating dataframe with a list
import pandas as pd
data = [6013,2018,5060,13,5013]
df = pd.DataFrame(data)
print(df)

      0
0  6013
1  2018
2  5060
3    13
4  5013

In [5]:
import pandas as pd
data = [['Akula Sainadh',6013,20],['Naveen',6071,20],['Sakthi',6103,20]]
df = pd.DataFrame(data,columns=['Name','Id','Age'])
print(df)

            Name    Id  Age
0  Akula Sainadh  6013   20
1         Naveen  6071   20
2         Sakthi  6103   20

In [6]:
#changing of datatype
import pandas as pd
data = [['Akula Sainadh',6013,20],['Naveen',6071,20],['Sakthi',6103,20]]
df = pd.DataFrame(data,columns=['Name','Id','Age'],dtype='float')
print(df)

            Name      Id   Age
0  Akula Sainadh  6013.0  20.0
1         Naveen  6071.0  20.0
2         Sakthi  6103.0  20.0

In [7]:
#creating an indexed DataFrame using arrays
import pandas as pd
data = {'Name':['Sainadh', 'Naveen', 'Sakthi', 'Rizwan'],'Age':[20,20,20,20]}
df = pd.DataFrame(data, index=['1','2','3','4'])
print(df)

      Name  Age
1  Sainadh   20
2   Naveen   20
3   Sakthi   20
4   Rizwan   20

In [10]:
#Create a DataFrame from List of Dicts
import pandas as pd
data = [{'Sainadh': 6013, 'Naveen': 6071},{'Sakthi': 6103, 'Rizwan': 6096, 'Ajai': 6010}]
df = pd.DataFrame(data)
print(df)

   Sainadh  Naveen  Sakthi  Rizwan    Ajai
0   6013.0  6071.0     NaN     NaN     NaN
1      NaN     NaN  6103.0  6096.0  6010.0

In [11]:
#column addition
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

# Adding a new column to an existing DataFrame object with column label by passing new series

print ("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)

print ("Adding a new column using the existing columns in DataFrame:")
df['four']=df['one']+df['three']

print(df)

Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [13]:
#column deletion
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
   'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)
print ("Our dataframe is:")
print(df)

# using del function
print ("Deleting the first column using DEL function:")
del df['one']
print(df)

# using pop function
print ("Deleting another column using POP function:")
df.pop('two')
print(df)

Our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Deleting the first column using DEL function:
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
Deleting another column using POP function:
   three
a   10.0
b   20.0
c   30.0
d    NaN