In [1]:
#data for doing the statistics operations
import pandas as pd
import numpy as np
#Create a Dictionary of series
d = {'Name':pd.Series(['sai','nadh','saiman','saiman2k','saiman2kak','akula','sainadh akula',
   'manju','nadh','akula manju','saiman2ka3k','manjunadh akula']),
   'Age':pd.Series([18,20,21,19,20,10,22,18,19,22,21,20]),
   'Rating':pd.Series([9.73,6.84,5.98,8.56,7.20,9.6,5.8,8.78,9.98,6.80,8.10,9.65])
}
#Create a DataFrame
df = pd.DataFrame(d)
print(df)

               Name  Age  Rating
0               sai   18    9.73
1              nadh   20    6.84
2            saiman   21    5.98
3          saiman2k   19    8.56
4        saiman2kak   20    7.20
5             akula   10    9.60
6     sainadh akula   22    5.80
7             manju   18    8.78
8              nadh   19    9.98
9       akula manju   22    6.80
10      saiman2ka3k   21    8.10
11  manjunadh akula   20    9.65

In [2]:
#sum
import pandas as pd
import numpy as np
#Create a Dictionary of series
d = {'Name':pd.Series(['sai','nadh','saiman','saiman2k','saiman2kak','akula','sainadh akula',
   'manju','nadh','akula manju','saiman2ka3k','manjunadh akula']),
   'Age':pd.Series([18,20,21,19,20,10,22,18,19,22,21,20]),
   'Rating':pd.Series([9.73,6.84,5.98,8.56,7.20,9.6,5.8,8.78,9.98,6.80,8.10,9.65])
}
#Create a DataFrame
df = pd.DataFrame(d)
print(df.sum())

Name      sainadhsaimansaiman2ksaiman2kakakulasainadh ak...
Age                                                     230
Rating                                                97.02
dtype: object

In [4]:
#axis(particular)
import pandas as pd
import numpy as np
#Create a Dictionary of series
d = {'Name':pd.Series(['sai','nadh','saiman','saiman2k','saiman2kak','akula','sainadh akula',
   'manju','nadh','akula manju','saiman2ka3k','manjunadh akula']),
   'Age':pd.Series([18,20,21,19,20,10,22,18,19,22,21,20]),
   'Rating':pd.Series([9.73,6.84,5.98,8.56,7.20,9.6,5.8,8.78,9.98,6.80,8.10,9.65])
}
#Create a DataFrame
df = pd.DataFrame(d)
print(df.sum(1))

0     27.73
1     26.84
2     26.98
3     27.56
4     27.20
5     19.60
6     27.80
7     26.78
8     28.98
9     28.80
10    29.10
11    29.65
dtype: float64

In [5]:
#mean()
import pandas as pd
import numpy as np
#Create a Dictionary of series
d = {'Name':pd.Series(['sai','nadh','saiman','saiman2k','saiman2kak','akula','sainadh akula',
   'manju','nadh','akula manju','saiman2ka3k','manjunadh akula']),
   'Age':pd.Series([18,20,21,19,20,10,22,18,19,22,21,20]),
   'Rating':pd.Series([9.73,6.84,5.98,8.56,7.20,9.6,5.8,8.78,9.98,6.80,8.10,9.65])
}
#Create a DataFrame
df = pd.DataFrame(d)
print(df.mean())

Age       19.166667
Rating     8.085000
dtype: float64

In [6]:
#stndard deviation
import pandas as pd
import numpy as np
#Create a Dictionary of series
d = {'Name':pd.Series(['sai','nadh','saiman','saiman2k','saiman2kak','akula','sainadh akula',
   'manju','nadh','akula manju','saiman2ka3k','manjunadh akula']),
   'Age':pd.Series([18,20,21,19,20,10,22,18,19,22,21,20]),
   'Rating':pd.Series([9.73,6.84,5.98,8.56,7.20,9.6,5.8,8.78,9.98,6.80,8.10,9.65])
}
#Create a DataFrame
df = pd.DataFrame(d)
print(df.std())

Age       3.186144
Rating    1.519183
dtype: float64

In [7]:
#product of values
import pandas as pd
import numpy as np
#Create a Dictionary of series
d = {'Name':pd.Series(['sai','nadh','saiman','saiman2k','saiman2kak','akula','sainadh akula',
   'manju','nadh','akula manju','saiman2ka3k','manjunadh akula']),
   'Age':pd.Series([18,20,21,19,20,10,22,18,19,22,21,20]),
   'Rating':pd.Series([9.73,6.84,5.98,8.56,7.20,9.6,5.8,8.78,9.98,6.80,8.10,9.65])
}
#Create a DataFrame
df = pd.DataFrame(d)
print(df.prod())

Age       1.997221e+15
Rating    6.360949e+10
dtype: float64

In [8]:
#cummulative sum
import pandas as pd
import numpy as np
#Create a Dictionary of series
d = {'Name':pd.Series(['sai','nadh','saiman','saiman2k','saiman2kak','akula','sainadh akula',
   'manju','nadh','akula manju','saiman2ka3k','manjunadh akula']),
   'Age':pd.Series([18,20,21,19,20,10,22,18,19,22,21,20]),
   'Rating':pd.Series([9.73,6.84,5.98,8.56,7.20,9.6,5.8,8.78,9.98,6.80,8.10,9.65])
}
#Create a DataFrame
df = pd.DataFrame(d)
print(df.cumsum())

                                                 Name  Age  Rating
0                                                 sai   18    9.73
1                                             sainadh   38   16.57
2                                       sainadhsaiman   59   22.55
3                               sainadhsaimansaiman2k   78   31.11
4                     sainadhsaimansaiman2ksaiman2kak   98   38.31
5                sainadhsaimansaiman2ksaiman2kakakula  108   47.91
6   sainadhsaimansaiman2ksaiman2kakakulasainadh akula  130   53.71
7   sainadhsaimansaiman2ksaiman2kakakulasainadh ak...  148   62.49
8   sainadhsaimansaiman2ksaiman2kakakulasainadh ak...  167   72.47
9   sainadhsaimansaiman2ksaiman2kakakulasainadh ak...  189   79.27
10  sainadhsaimansaiman2ksaiman2kakakulasainadh ak...  210   87.37
11  sainadhsaimansaiman2ksaiman2kakakulasainadh ak...  230   97.02

In [10]:
#max value
import pandas as pd
import numpy as np
#Create a Dictionary of series
d = {'Name':pd.Series(['sai','nadh','saiman','saiman2k','saiman2kak','akula','sainadh akula',
   'manju','nadh','akula manju','saiman2ka3k','manjunadh akula']),
   'Age':pd.Series([18,20,21,19,20,10,22,18,19,22,21,20]),
   'Rating':pd.Series([9.73,6.84,5.98,8.56,7.20,9.6,5.8,8.78,9.98,6.80,8.10,9.65])
}
#Create a DataFrame
df = pd.DataFrame(d)
print(df.max())

Name      sainadh akula
Age                  22
Rating             9.98
dtype: object

In [11]:
#min value
import pandas as pd
import numpy as np
#Create a Dictionary of series
d = {'Name':pd.Series(['sai','nadh','saiman','saiman2k','saiman2kak','akula','sainadh akula',
   'manju','nadh','akula manju','saiman2ka3k','manjunadh akula']),
   'Age':pd.Series([18,20,21,19,20,10,22,18,19,22,21,20]),
   'Rating':pd.Series([9.73,6.84,5.98,8.56,7.20,9.6,5.8,8.78,9.98,6.80,8.10,9.65])
}
#Create a DataFrame
df = pd.DataFrame(d)
print(df.min())

Name      akula
Age          10
Rating      5.8
dtype: object