In [1]:
#SETS
m={"jan","feb","march","aprl"}
print(type(m))
print(m)
#printing using loops
for i in m:
    print(i)
#using add method
m.add("may")
print(m)
#using update function
m.update(["june","july"])
print(m)
#using remove and discard
m.discard("jan")
m.remove("feb")
print(m)
m1={1,2,3,4,5,6}
m2={4,5,6,7,8,9}
#Union,Intersection and Difference
print("Union:")
print(m1|m2)
print('Intersection:')
print(m1&m2)
print('difference between m1 and m2:')
print(m1-m2)

<class 'set'>
{'jan', 'march', 'aprl', 'feb'}
jan
march
aprl
feb
{'may', 'march', 'jan', 'aprl', 'feb'}
{'may', 'july', 'march', 'june', 'jan', 'aprl', 'feb'}
{'may', 'july', 'march', 'june', 'aprl'}
Union:
{1, 2, 3, 4, 5, 6, 7, 8, 9}
Intersection:
{4, 5, 6}
difference between m1 and m2:
{1, 2, 3}

In [2]:
#dictionaries
d={"Name":"sainadh","Age":"20","Id":"13"}
#creating with dict() keyword
d1=dict({1:"Akula",2:"SAinadh",3:"13"})
print(d)
print(d1)
#accessing the values of the dictionary
print("first_Name: %s"% d["Name"])
print("Age: %s"% d["Age"])
print("Id: %s"% d["Id"])
#adding elements to the dictionary
d[1]="25"
print(d)
#deleting elements
del d[1]
print(d)
for i in d:
    print(i)
    print(d[i])

{'Name': 'sainadh', 'Age': '20', 'Id': '13'}
{1: 'Akula', 2: 'SAinadh', 3: '13'}
first_Name: sainadh
Age: 20
Id: 13
{'Name': 'sainadh', 'Age': '20', 'Id': '13', 1: '25'}
{'Name': 'sainadh', 'Age': '20', 'Id': '13'}
Name
sainadh
Age
20
Id
13