In [4]:
#string concetanation
import numpy as np 
print ('Concatenate two strings:') 
print (np.char.add(['Sainadh'],['Akula'])) 
print ('\n')
print ('Concatenation example:') 
print (np.char.add(['sai', 'nadh'],['akula', ' saiman']))

Concatenate two strings:
['SainadhAkula']


Concatenation example:
['saiakula' 'nadh saiman']

In [6]:
#string multiply
import numpy as np 
print (np.char.multiply('Sainadh ',3))

Sainadh Sainadh Sainadh

In [7]:
#string centre
import numpy as np 
# np.char.center(arr, width,fillchar) 
print (np.char.center('saiman2k', 30,fillchar = '$'))

$$$$$$$$$$$saiman2k$$$$$$$$$$$

In [9]:
#capitalise
import numpy as np 
print (np.char.capitalize('akulasainadh'))

Akulasainadh

In [11]:
#string title
import numpy as np 
print (np.char.title('myself sainadh akula'))

Myself Sainadh Akula

In [12]:
#string split
import numpy as np 
print (np.char.split ('my name is sainadh')) 
print (np.char.split ('sainadh,akula,saiman2k', sep = ','))

['my', 'name', 'is', 'sainadh']
['sainadh', 'akula', 'saiman2k']

In [14]:
#string strip
import numpy as np 
print (np.char.strip('sainadh','akula')) 
print (np.char.strip(['saiman','saiman2k','akula'],'a'))

sainadh
['saiman' 'saiman2k' 'kul']

In [16]:
#string replace
import numpy as np 
print (np.char.replace ('Myself sainadh akula', 'akula', 'saiman2k'))

Myself sainadh saiman2k